{% extends 'bese/indexbese.html' %}
{% load static %}
{% block content %}
    <header data-am-widget="header" class="am-header am-header-default sq-head1">
			<div class="am-header-left am-header-nav">
		        <a href="city.html" class="" style="color: #fff;">
			        <img src="{% static 'images/city.png' %}" />
			        <p style="font-size: 12px; margin-top: -35px;">南昌</p>
			    </a>
		   </div>
			<h1 class="am-header-title1">
		        <div class="search-box">
		           <a href="village.html" class="index-search">南昌大学前湖校区∨</a>
		         <!--  <input type="submit" value="" class="search-icon" /> -->
		        </div>
		    </h1>
			<div class="am-header-right am-header-nav">
			    <a href="tidings.html" class="">
		         <div class="messgae"><span>10</span></div>
		        </a>
			</div>
        </header>
<div style="height: 49px;"></div>
<!--图片轮换-->
<div class="am-slider am-slider-default" data-am-flexslider id="demo-slider-0">
  <ul class="am-slides">
      {% for f in banner %}
          <li><a href="{% url 'index:detail' f.banner_sku_id.id %}"><img src="{{ MEDIA_URL }}{{ f.banner_image }}" /></a></li>
      {% endfor %}
  </ul>
</div>
<!--导航-->
 <ul class="sq-nav">
      <li>
        <div class="am-gallery-item">
            <a href="recharge.html" class="">
              <img src="{% static 'images/icon.png' %}" />
              <p>充值</p>
            </a>
        </div>
      </li>
      <li>
        <div class="am-gallery-item">
            <a href="javascript:;" class="index-qd">
              <img src="{% static 'images/icon1.png' %}" />
              <p>签到</p>
            </a>
        </div>
      </li>
      <li>
        <div class="am-gallery-item">
            <a href="yhq.html" class="">
              <img src="{% static 'images/icon2.png' %}" />
              <p>红包</p>
            </a>
        </div>
      </li>
      <li>
        <div class="am-gallery-item">
            <a href="" class="">
              <img src="{% static 'images/icon3.png' %}" />
              <p>即将上线</p>
            </a>
        </div>
      </li>
  </ul>
  <ul class="sq-nav1">
  	<li>
        <div class="am-gallery-item">
            <a href="speed.html" class="">
              <img src="{% static 'images/icon4.png' %}" />
              <p>零食飞速</p>
            </a>
        </div>
      </li>
      <li>
        <div class="am-gallery-item">
            <a href="{% url 'index:category' 0 0 %}" class="">
              <img src="{% static 'images/icon5.png' %}" />
              <p>超市</p>
            </a>
        </div>
      </li>

  </ul>
  <div class="h-line"></div>
  <!--不规则展示-->
  <div class="index-product">
    <div class="index-pro-lf"><a href="{{ act.0.activity_url }}"><img src="{{ MEDIA_URL }}{{ act.0.activity_image }}"/></a></div>
  	<div class="index-pro-lr"><a href="{{ act.1.activity_url }}"><img src="{{ MEDIA_URL }}{{ act.1.activity_image }}"/></a></div>
  </div>
  <!--不规则展示-->
  <div class="h-line"></div>
  <!-- 特色专区-->
    {% for a in area %}
    <div class="sq-title">
 	<img src="{% static 'images/ts.png' %}" width="26"/>
    {{ a.ActivityArea_name }}
  </div>
        {% for zo in a.activityshop_set.all %}
            <ul data-am-widget="gallery" class="am-gallery pro-list am-avg-sm-2 am-avg-md-2 am-avg-lg-4 am-gallery-default"  >
                <li>
        <div class="am-gallery-item">
            <a href="{% url 'index:detail' zo.ActivityShop_sku_id.id %}" class="">
              <img src="{{ MEDIA_URL }}{{ zo.ActivityShop_sku_id.sku_logo_address }}" />
                <h3 class="am-gallery-title">{{ zo.ActivityShop_sku_id.sku_spu_id.spu_name }}&emsp;{{ zo.ActivityShop_sku_id.sku_trade_name }}</h3>
                <div class="am-gallery-desc">￥{{ zo.ActivityShop_sku_id.sku_price }}</div>
            </a>
        </div>
      </li>
            </ul>
        {% endfor %}
    {% endfor %}




<!--签到-->
<div class="qd-box">
	<div class="popup-title">
			<span>签到成功</span>
			<div class="popup-close"><i class="iconfont">&#xe602</i></div>
	</div>
	<div class="dq-text">
		<img src="{% static 'images/qiandao.png' %}" width="40" />&nbsp; 您已连续签到3天
	</div>
</div>
<!--签到-->
{% endblock %}
{% block footer %}
 <script type='text/javascript'>
	(function(){
		 new PopUp_api({el:'.index-qd',html:'.qd-box'});
	})()
</script>
{% endblock %}
{% block footer_js %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/amazeui.min.js' %}"></script>
{% endblock %}